<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> .message { font-size: 1.3em; font-weight: bold; } </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container">
     <h1>Lunch Checker</h1>
     <div ng-controller='LunchCheckController'>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="string";
             ng-keyup="message();">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="chk()" >Check If Too Much</button>
         </div>
         <div class="form-group message"> 
         <div ng-if="check===1">
           <div ng-if="status===0">
              "Please enter data first"
             </div>
             <div ng-if="status===3 || status===2 || status===1">
               "Enjoy!"
             </div>
             <div ng-if="status>3">
               "Too much!"
             </div>
           </div>
         </div>
      </div>
   </div>

</body>
</html>
